<html>
    <head>
        <title>Anttonen lehennego bloga</title>
    </head>
    <body>
        <div>
            <h1><a href="">Neure bloga</a></h1>
        </div>

        <div>
            <p>publikau zan: 14.06.2014, 12:14</p>
            <h2><a href="">Lehenengu</a></h2>
            <p>Hauxe lehenengo proba da.</p>
        </div>

        <div>
            <p>publikauta: 14.06.2014, 12:14</p>
            <h2><a href="">Bigarren bloga</a></h2>
            <p>Ba horixe...</p>
        </div>
    </body>
</html>